.container{ id: 'article', data: {article_id: @article.id}}
  %header
    .link_back
      = link_to :back do
        = image_tag 'back.png'
    %h2 Comment

  %section.section_comments
    %ul.comments_list

  %section.section_new_comment
    .new_comment_input
      = image_tag 'comment.png'
      = text_area_tag :comment_content, '', rows: '1'

= javascript_include_tag "comment", "data-turbo-track": "reload", defer: true
