%ul
  - @articles.each do |article|
    - author = article.user

    %li
      .article{ data: {article_id: article.id}}

        .article_author
          = link_to account_path(author) do
            = image_tag author.avatar_image_url
          %div= author.name
          %div= time_ago_in_words(article.created_at, scope: 'datetime.distance_in_words.short') + " ago"

        .article_content
          .article_content_images
            %ul
              - article.images.each do |image|
                %li= image_tag url_for(image)

          .article_content_actions

            .like
              .like_heart.active-heart.hidden
                = image_tag 'active-like.png'
              .like_heart.inactive-heart.hidden
                = image_tag 'inactive-like.png'

            = link_to article_comments_path(article) do
              = image_tag 'comment.png'
            = link_to "https://x.com/intent/tweet?url=#{article_url(article.id)}", title: 'X', target: '_blank' do
              = image_tag 'share.png'

          .article_content_content
            %div= author.name
            %p= article.content
