.container
  %header
    .link_cancel
      = link_to 'Cancel', articles_path
    %h2 Status
    %button.btn_post{type: "submit", form: 'form-article-new'}
      Post

  %section.section_article_new
    %ul.error_messages
      - @article.errors.full_messages.each do |message|
        %li.error_message= message

  %section.section_article_new
    .article_user
      %div
        = image_tag current_user.avatar_image_url, class: 'avatar_m'
      .user_name
        = current_user.name

    = form_with(model: @article, url: articles_path, class: 'form_article_new', id: 'form-article-new', local: true) do |f|
      %div
        = f.text_area :content, placeholder: " What's on your mind ?", rows: '1'
      .add_images
        = f.label :images do
          %span ＋
          %span Album
        = f.file_field :images, multiple: true, style: 'display:none;'
