%ul
  - articles.each do |article|
    - author = article.user

    %li.article_list
      .article{ data: {article_id: article.id}}

        .article_author
          = link_to account_path(author) do
            = image_tag author.avatar_image_url, alt: 'Avatar', class: 'avatar_s'
          .author_info
            .author_name= author.name
            .article_time= time_ago_in_words(article.created_at, scope: 'datetime.distance_in_words.short') + " ago"

        .article_content

          .article_images{ class: "count-#{article.img_count} >= 3 ? '3' : #{article.img_count}" }
            %ul.image_list
              - article.images.take(3).each_with_index do |image, index|
                %li{ class: "image_item_#{index + 1}" }
                  = image_tag url_for(image)

          .article_actions

            .like
              .like_heart.active-heart.hidden
                = image_tag 'active-like.png', alt: 'Active like'
              .like_heart.inactive-heart.hidden
                = image_tag 'inactive-like.png', alt: 'Inactive like'

            = link_to article_comments_path(article) do
              = image_tag 'comment.png', alt: 'Comment'
            = link_to "https://x.com/intent/tweet?url=#{article_url(article.id)}", title: 'X', target: '_blank' do
              = image_tag 'share.png'

          .article_text
            %p.like_info= article.like_info
            .author_comment
              %span= author.name
              %p.author_comment_content= article.content
