/ Log in

=image_tag 'form-top.png', class: 'user_form_img'

.container.user_form
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password"
    .forget_pass
      = render "devise/shared/links"
    .actions
      = f.submit "LOGIN", class: 'button_submit login'
