.container
  %header
    .link_back
      = link_to :back do
        = image_tag 'back.png'
    %h2.user_name#account_show{ data: {account_id: @user.id}}
      = @user.name
    .relationship
      .follow.hidden
        %p follow
      .unfollow.hidden
        %p unfollow

  %section.section_profile
    .user_image
      .avatar
        =image_tag @user.avatar_image_url, class: 'avatar_l'
    .user_counts
      = render 'commons/counts', user: @user

    .user_article_eyecatches
      = render 'commons/eyecatches', user: @user

= javascript_include_tag "relationship", "data-turbo-track": "reload", defer: true
